.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/DIGIT-RUBBER.owl
src/ontology/DIGIT-RUBBER.obo
src/ontology/DIGIT-RUBBER.json
src/ontology/DIGIT-RUBBER-base.*
src/ontology/DIGIT-RUBBER-basic.*
src/ontology/DIGIT-RUBBER-full.*
src/ontology/DIGIT-RUBBER-simple.*
src/ontology/DIGIT-RUBBER-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-DIGIT-RUBBER-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt